fastapi
pydantic
groq
@react-pdf-viewer/core
lucide-react
pdfjs-dist
react
react-beautiful-dnd
react-dom
react-easy-emoji
react-icons
react-pdf
react-router-dom
react-scripts
autoprefixer
postcss
resolve-url-loader
tailwindcss
